@model PrimeNumbersTable.Web.Models.PrimeNumbersTableDisplayModel

@{
    ViewBag.Title = "Generate";
}

<div class="row">

    <h3>Table of the first @Model.TotalOfPrimeNumbers prime numbers</h3>

    <table style="font-size: 0.6em">
        <!-- First row here -->
        <tr>
            <!-- First cell, which is empty, here -->
            <td>
                &nbsp;&nbsp;&nbsp;
            </td>

            <!-- Successive cells, containing the whole array of prime numbers, goes here -->
            @for (var i = 0; i < Model.TotalOfPrimeNumbers; i++)
            {
                <td>
                    <b>@Model.ListOfPrimeNumbers[i]</b>
                </td>
            }
        </tr>

        <!-- Successive rows here -->

        @for (var i = 0; i < Model.TotalOfPrimeNumbers; i++)
        {
            <tr>
                <!-- First cell of each row, containing every number on the array of primes, goes here -->
                <td>
                    <b>@Model.ListOfPrimeNumbers[i]</b>
                </td>

                <!-- Successice cells of each row, which will contain ListOfPrimeNumbers[i] x ListOfPrimeNumbers[j], go here -->
                @for (var j = 0; j < Model.TotalOfPrimeNumbers; j++)
                {
                    <td>
                        @(Model.ListOfPrimeNumbers[i] * Model.ListOfPrimeNumbers[j])
                    </td>
                }
            </tr>
        }

    </table>

</div>